body {
  font-family: Arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: #1a73e8;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

table {
  width: 100%;
}

thead > tr > th {
  padding: 16px;
  color: #5f6368;
  text-align: left;
  font-weight: 600;
  font-size: 12px;
  border-bottom: 1px solid #dadce0;
}

tbody > tr > td {
  padding: 10px 16px;
  font-size: 14px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #dadce0;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  color: #202124;
  margin: 0 0 12px;
  display: inline-block;
}

.btn {
  background-color: rgba(26, 115, 232, 0.1);
  color: #1565cf;
  border-radius: 4px;
  padding: 1px 24px 2px;
  font-size: 14px;
  line-height: 34px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {
  background-color: rgba(26, 115, 232, 0.14);
}

.btn:disabled {
  color: rgba(0, 0, 0, 0.38) !important;
  background-color: rgba(0, 0, 0, 0.03) !important;
}

.btn-outline {
  background-color: transparent;
  color: #1a73e8;
  border: 1px solid rgba(26, 115, 232, 0.2);
}

.btn-danger {
  background-color: rgba(217, 48, 37, 0.1);
  color: #d93025;
}

.btn-danger:hover {
  background-color: rgba(217, 48, 37, 0.14);
}

label {
  font-weight: 400;
  color: #5f6368;
  font-size: 12px;
  letter-spacing: 0.3px;
  display: block;
  margin-top: 12px;
}

input {
  padding: 8px 12px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #dadce0;
  font-size: 14px;
  margin-top: 12px;
}
